._01, ._01 * { box-sizing: border-box; }._01 {background: #ffffff; border-radius: 30px; width: 1430px; height: 1080px; position: relative; overflow: hidden;}
 .frame-17 {background: var(--templates-6-color-1, #1e7bf6); border-radius: 20px; width: 674px; height: 285px; position: absolute; left: 380px;top: 26px;}
 .bitcoin-isometric-1-1 {position: absolute; inset: 0;}
 .group {width: 404.6px; height: 200px; position: static;}
 .layer-2 {width: 404.6px; height: 200px; position: static;}
 .vector {position: absolute; left: 118.85px;top: 176.17px; overflow: visible;}
 .vector2 {position: absolute; left: 353.43px;top: 232.42px; overflow: visible;}
 .vector3 {position: absolute; left: 153.04px;top: 248.79px; overflow: visible;}
 .vector4 {position: absolute; left: 257.31px;top: 217.8px; overflow: visible;}
 .vector5 {position: absolute; left: 289.06px;top: 212.87px; overflow: visible;}
 .vector6 {position: absolute; left: 289.06px;top: 220.59px; overflow: visible;}
 .vector7 {position: absolute; left: 345.55px;top: 220.59px; overflow: visible;}
 .vector8 {position: absolute; left: 289.11px;top: 209.87px; overflow: visible;}
 .vector9 {position: absolute; left: 302.97px;top: 216.06px; overflow: visible;}
 .vector10 {position: absolute; left: 293.96px;top: 211.61px; overflow: visible;}
 .vector11 {position: absolute; left: 289.06px;top: 206.9px; overflow: visible;}
 .vector12 {position: absolute; left: 289.06px;top: 214.61px; overflow: visible;}
 .vector13 {position: absolute; left: 345.55px;top: 214.61px; overflow: visible;}
 .vector14 {position: absolute; left: 289.06px;top: 203.76px; overflow: visible;}
 .vector15 {position: absolute; left: 302.97px;top: 210.07px; overflow: visible;}
 .vector16 {position: absolute; left: 293.96px;top: 205.64px; overflow: visible;}
 .vector17 {position: absolute; left: 289.06px;top: 200.89px; overflow: visible;}
 .vector18 {position: absolute; left: 289.06px;top: 208.61px; overflow: visible;}
 .vector19 {position: absolute; left: 345.55px;top: 208.61px; overflow: visible;}
 .vector20 {position: absolute; left: 289.06px;top: 197.76px; overflow: visible;}
 .vector21 {position: absolute; left: 302.97px;top: 204.07px; overflow: visible;}
 .vector22 {position: absolute; left: 293.96px;top: 199.63px; overflow: visible;}
 .vector23 {position: absolute; left: 289.06px;top: 196.46px; overflow: visible;}
 .vector24 {position: absolute; left: 289.06px;top: 204.18px; overflow: visible;}
 .vector25 {position: absolute; left: 345.55px;top: 204.18px; overflow: visible;}
 .vector26 {position: absolute; left: 289.06px;top: 193.33px; overflow: visible;}
 .vector27 {position: absolute; left: 302.97px;top: 199.64px; overflow: visible;}
 .vector28 {position: absolute; left: 293.96px;top: 195.2px; overflow: visible;}
 .vector29 {position: absolute; left: 293.95px;top: 190.45px; overflow: visible;}
 .vector30 {position: absolute; left: 293.96px;top: 198.17px; overflow: visible;}
 .vector31 {position: absolute; left: 350.44px;top: 198.17px; overflow: visible;}
 .vector32 {position: absolute; left: 293.95px;top: 187.32px; overflow: visible;}
 .vector33 {position: absolute; left: 307.94px;top: 193.71px; overflow: visible;}
 .vector34 {position: absolute; left: 298.86px;top: 189.19px; overflow: visible;}
 .vector35 {position: absolute; left: 304.64px;top: 184.04px; overflow: visible;}
 .vector36 {position: absolute; left: 304.64px;top: 191.75px; overflow: visible;}
 .vector37 {position: absolute; left: 361.13px;top: 191.75px; overflow: visible;}
 .vector38 {position: absolute; left: 304.64px;top: 180.9px; overflow: visible;}
 .vector39 {position: absolute; left: 318.54px;top: 187.22px; overflow: visible;}
 .vector40 {position: absolute; left: 309.54px;top: 182.78px; overflow: visible;}
 .vector41 {position: absolute; left: 290px;top: 174.91px; overflow: visible;}
 .vector42 {position: absolute; left: 290px;top: 182.63px; overflow: visible;}
 .vector43 {position: absolute; left: 346.49px;top: 182.63px; overflow: visible;}
 .vector44 {position: absolute; left: 290px;top: 171.77px; overflow: visible;}
 .vector45 {position: absolute; left: 303.91px;top: 178.1px; overflow: visible;}
 .vector46 {position: absolute; left: 294.9px;top: 173.64px; overflow: visible;}
 .vector47 {position: absolute; left: 411.46px;top: 178.68px; overflow: visible;}
 .vector48 {position: absolute; left: 390.29px;top: 122px; overflow: visible;}
 .vector49 {opacity: 0.33000001311302185; position: absolute; left: 390.29px;top: 122px; overflow: visible;}
 .vector50 {position: absolute; left: 387.71px;top: 124.05px; overflow: visible;}
 .vector51 {position: absolute; left: 390.94px;top: 135.4px; overflow: visible;}
 .vector52 {position: absolute; left: 415.74px;top: 239.51px; transform: translate(0.87px, -0.51px); overflow: visible;}
 .vector53 {position: absolute; left: 417.29px;top: 138.75px; overflow: visible;}
 .vector54 {position: absolute; left: 409.62px;top: 135.68px; transform: translate(0.57px, -0.38px); overflow: visible;}
 .vector55 {position: absolute; left: 265.1px;top: 271.3px; overflow: visible;}
 .vector56 {position: absolute; left: 299.98px;top: 266.58px; overflow: visible;}
 .vector57 {position: absolute; left: 299.98px;top: 274.3px; overflow: visible;}
 .vector58 {position: absolute; left: 356.47px;top: 274.3px; overflow: visible;}
 .vector59 {position: absolute; left: 299.98px;top: 263.45px; overflow: visible;}
 .vector60 {position: absolute; left: 313.89px;top: 269.77px; overflow: visible;}
 .vector61 {position: absolute; left: 304.88px;top: 265.32px; overflow: visible;}
 .vector62 {position: absolute; left: 304.87px;top: 260.59px; overflow: visible;}
 .vector63 {position: absolute; left: 304.88px;top: 268.3px; overflow: visible;}
 .vector64 {position: absolute; left: 361.37px;top: 268.3px; overflow: visible;}
 .vector65 {position: absolute; left: 304.87px;top: 257.45px; overflow: visible;}
 .vector66 {position: absolute; left: 318.79px;top: 263.76px; overflow: visible;}
 .vector67 {position: absolute; left: 309.78px;top: 259.33px; overflow: visible;}
 .vector68 {position: absolute; left: 315.56px;top: 254.17px; overflow: visible;}
 .vector69 {position: absolute; left: 315.56px;top: 261.89px; overflow: visible;}
 .vector70 {position: absolute; left: 372.05px;top: 261.89px; overflow: visible;}
 .vector71 {position: absolute; left: 315.56px;top: 251.04px; overflow: visible;}
 .vector72 {position: absolute; left: 329.47px;top: 257.35px; overflow: visible;}
 .vector73 {position: absolute; left: 320.46px;top: 252.9px; overflow: visible;}
 .vector74 {position: absolute; left: 321.44px;top: 248.26px; overflow: visible;}
 .vector75 {position: absolute; left: 321.45px;top: 255.98px; overflow: visible;}
 .vector76 {position: absolute; left: 377.94px;top: 255.98px; overflow: visible;}
 .vector77 {position: absolute; left: 321.44px;top: 245.12px; overflow: visible;}
 .vector78 {position: absolute; left: 335.36px;top: 251.45px; overflow: visible;}
 .vector79 {position: absolute; left: 326.35px;top: 247px; overflow: visible;}
 .vector80 {position: absolute; left: 399.95px;top: 178.69px; overflow: visible;}
 .vector81 {position: absolute; left: 387.71px;top: 196.75px; overflow: visible;}
 .vector82 {position: absolute; left: 387.73px;top: 193.83px; overflow: visible;}
 .vector83 {position: absolute; left: 393.86px;top: 185.88px; overflow: visible;}
 .vector84 {position: absolute; left: 387.74px;top: 183.84px; overflow: visible;}
 .vector85 {position: absolute; left: 401.74px;top: 189.62px; overflow: visible;}
 .vector86 {position: absolute; left: 391.39px;top: 184.73px; overflow: visible;}
 .group2 {width: 95.74px; height: 96.83px; position: static;}
 .vector87 {position: absolute; left: 172.5px;top: 220.08px; overflow: visible;}
 .vector88 {position: absolute; left: 169.23px;top: 172.2px; overflow: visible;}
 .group3 {opacity: 0.6800000071525574; position: absolute; left: 169.23px;top: 172.2px; overflow: visible;}
 .vector91 {position: absolute; left: 170.05px;top: 232.14px; overflow: visible;}
 .vector92 {position: absolute; left: 192.83px;top: 240.89px; overflow: visible;}
 .vector93 {position: absolute; left: 216.07px;top: 248.41px; overflow: visible;}
 .vector94 {position: absolute; left: 169.26px;top: 180.92px; overflow: visible;}
 .vector95 {position: absolute; left: 192px;top: 177.09px; overflow: visible;}
 .vector96 {position: absolute; left: 181.8px;top: 185.6px; overflow: visible;}
 .vector97 {position: absolute; left: 215.22px;top: 184.61px; overflow: visible;}
 .fin {color: #ffffff; text-align: center; font: 400 48px 'Galindo', sans-serif; position: absolute; left: -21px;top: 14px; width: 378px; height: 96px;}
 .play {color: #ffffff; text-align: center; font: 400 48px 'Galindo', sans-serif; position: absolute; left: 152px;top: 55px; width: 140px; height: 69px;}
 .nome-completo {color: #000000; text-align: left; font: 400 11px 'Galindo', sans-serif; position: absolute; left: 549px;top: 393px; width: 138px; height: 19px;}
 .frame-1 {display: flex; flex-direction: column; gap: 18px; align-items: flex-start; justify-content: flex-start; position: absolute; left: 539px;top: 422px;}
 .frame-4 {display: flex; flex-direction: column; gap: 12px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; width: 546px; position: relative;}
 .template-6-input-name {display: flex; flex-direction: column; gap: 4px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative;}
 .frame-3 {border-style: solid; border-color: rgba(14, 59, 117, 0.35); border-width: 1px; flex-shrink: 0; width: 342px; height: 68px; position: relative; overflow: hidden;}
 .digite-seu-nome-completo {color: rgba(0, 0, 0, 0.25); text-align: left; font: 400 15px 'Galindo', sans-serif; position: absolute; left: 15px;top: 28px;}
 .email {color: #000000; text-align: left; font: 400 11px 'Galindo', sans-serif; position: relative; width: 71px; height: 23px;}
 .template-6-input-email {display: flex; flex-direction: column; gap: 4px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative;}
 .digite-seu-email {color: rgba(0, 0, 0, 0.25); text-align: left; font: 400 15px 'Galindo', sans-serif; position: absolute; left: 25px;top: 29px;}
 .senha {color: #000000; text-align: left; font: 400 11px 'Galindo', sans-serif; position: relative; width: 115px; height: 27px;}
 .template-6-input-password {display: flex; flex-direction: column; gap: 4px; align-items: flex-start; justify-content: flex-start; flex-shrink: 0; position: relative;}
 . {color: var(--templates-6-color-2, #0e3b75); text-align: left; font: 500 15px 'SF Pro Text', sans-serif; position: absolute; left: 20px;top: 25px;}
 .show {position: absolute; left: 314.2px;top: 28.7px; overflow: visible;}
 .buttons {flex-shrink: 0; width: 342px; height: 140px; position: static;}
 .btn-primary {background: var(--templates-6-color-1, #1e7bf6); width: 342px; height: 64px; position: absolute; left: 0px;top: 320px; overflow: hidden;}
 .criar-uma-conta {color: #ffffff; text-align: center; font: 400 17px/2.5px 'Galindo', sans-serif; position: absolute; left: 41px;top: 15px; width: 262px; height: 36px; display: flex;align-items: center;justify-content: center}
 .btn-secondary {border-style: solid; border-color: var(--templates-6-color-1, #1e7bf6); border-width: 1px; width: 342px; height: 64px; position: absolute; left: 0px;top: 396px; overflow: hidden;}
 .log-in {color: #000000; text-align: center; font: 400 17px/2.5px 'Galindo', sans-serif; position: absolute; left: 79px;top: 13px; width: 184px; height: 37px; display: flex;align-items: center;justify-content: center}
